body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #647385;
}

.container {
    max-width: 400px;
    width: 90%;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
button {
    font-size: 16px;
}

input, button {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #19236f;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3d426b;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #f5f5f5;
}

.botoes-acoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.botoes-acoes button {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
}

.botoes-acoes button:hover {
    background-color: #3d426b;
}

.botoes-acoes button:last-child {
    max-width: 50px;
    padding: 10px 0;
    font-size: 18px;
}

